langchain
langchain-community
langchain-core
langchain-groq
langchain-qdrant

qdrant-client

sentence-transformers
transformers
torch

streamlit

pymupdf
pypdf

python-dotenv

rank-bm25

huggingface_hub